/* =====================
   Imports
===================== */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


/* =====================
   VARIABLES & BASE STYLES
===================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    color: #fff;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    height: 100%;
    margin: 0;
}
#root{
    height: 100%;
    width: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  padding: 1rem 0.5rem;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}
:root {
    --bg: #f1f3f5;
    --text: #333;
    --card-bg: #fff;
    --header-bg: #fff;
    --nav-active-bg: #4e7ed8;
    --nav-active-text: #fff;
    --nav-hover-bg: rgba(78, 126, 216, 0.15);
  }
  
  body.dark-mode {
    --bg: #121212;
    --text: #f1f1f1;
    --header-bg: #1E1E1E;
    --card-bg: #1e1e1e;
    --nav-active-bg: #2563eb;        
    --nav-active-text: #e5e7eb;     
    --nav-hover-bg: rgba(37, 99, 235, 0.15);
  }
  